@font-face {
    font-family: Rubic;
    src: url(../fonts/Rubik-Regular.woff);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubic;

}
.container{
    max-width: 1366px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
    position: relative;


}
a{
    color: inherit;
    text-decoration: initial;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}


#header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 101;
    background:linear-gradient(#000 , rgba(0, 0, 0, 0.651) , transparent) ;
    transition: .5s;

}
.header.shrink{
    background: #000;
}

.navbar{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 1.125rem;
}

.navbar__logo{
    display: flex;
    align-items: center;
    gap: 16px;
    
}
.navbar__logo img{
    width: 60px;
}
.navbar__logo span{
    color: #fff;
    transition: .3s;
   
}
.navbar__logo span:hover{
    color: #fd7e14;
}
.navbar__collection{
    display: flex;
    gap: 16px;
    align-items: center;
    color: #fff;
}
.navbar__item{
    transition: .3s;
}
.navbar__item:hover{
    color: #fd7e14;
}

.navbar__icons{
    color: #fff;
    
}
#navbar__sellect{
    font-size: 1.125rem;
    font-weight: 400;
    border: none;
    background-color: transparent;
    color: #fff;
    transition: .3s;
}
.navbar__sellect:hover{
    color: #fd7e14;
}

#hero{
    width: 100%;
    height: 900px;
}
.hero__video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#menyu{
    background: #BEA087;
}
.menyu__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menyu__category{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    
}
.menyu__link{
    position: absolute;
    left: 0;
}
.menyu__img{
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
.category__card{
    width: 116.48px;
    
}
.category__image{
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
.category__title{
    text-align: center;
}

.news__title{
    margin: 40px 0;
    text-align: center;
}
.news__wrapper{
    display: flex;
    gap: 20px;
}
.news__card{
    width: calc(25% - 15px);
    transition: .5s;
}
.news__card:hover{
    transform: scale(1.4);
}
.news__img img{
    border-radius: 50%;
    object-fit: cover;
}
.news__price{
    text-align: center;
    margin-top: 70px;
}
.sold__wrapper{
    display: flex;
    gap: 20px;
    padding: 80px 0;
    
}
.sold__title{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}
.sold__card{
    width: calc(25% - 15px);
    margin-bottom: 5px;
    transition: .5s;

}
.sold__card:hover{
    transform: scale(1.4);
}
.sold__img img{
    border-radius: 50%;
}
.sold__body{
    margin-top: 5px;
    text-align: center;
}
.body__title{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}
.body__desc{
    color: #898989;
    font-size: 16px;
    font-weight: 300;
    height: 44px;
    overflow: hidden;
    
}
.body__desc:hover{
    overflow:auto;
}
.body__price{
    margin-top: 10px;

}
.values__subtitle{
    text-align: center;
    margin-bottom: 40px;
}
.values__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.values__card{
    width: 339px;
    height: 175px;
    padding: 0 15px;
    
}
.values__img img{
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.values__body{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.values__desc{
    margin-top: 8px;
    color: #898989;
}